.about {
  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.about__wrapper {
  @include wrapper;
  margin-top: 73px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }
}

.about__title {
  @include font(25px, 30px, 700);
  padding: 0;
  margin-bottom: 83px;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px, 700);
    margin-top: 67px;
    margin-bottom: 98px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px, 700);
    margin-top: 105px;
    margin-right: 175px;
    margin-left: 175px;
  }
}

.about__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  @media (min-width: $desktop-width) {
    margin-right: 175px;
    margin-left: 175px;
    margin-bottom: 8px;
  }
}

.about__item {
  @include font(17px, 20px, 700);
  position: relative;
  margin-bottom: 83px;

  &--flower::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-flower.svg");
    bottom: 56px;
    left: 7px;
    width: 32px;
    height: 37px;

    @media (min-width: $tablet-width) {
      bottom: 64px;
    }
  }

  &--money::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-money.svg");
    bottom: 66px;
    left: 0;
    width: 47px;
    height: 27px;

    @media (min-width: $tablet-width) {
      bottom: 71px;
    }
  }

  &--heart::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-heart.svg");
    bottom: 61px;
    left: 7px;
    width: 34px;
    height: 27px;

    @media (min-width: $tablet-width) {
      bottom: 64px;
    }
  }

  &--ball::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-ball.svg");
    bottom: 57px;
    left: 4px;
    width: 35px;
    height: 34px;

    @media (min-width: $tablet-width) {
      bottom: 64px;
    }
  }

  &--rocket::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-rocket.svg");
    bottom: 66px;
    left: -6px;
    width: 55px;
    height: 23px;

    @media (min-width: $tablet-width) {
      bottom: 72px;
    }
  }

  &--gift::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-feature-gift.svg");
    bottom: 60px;
    left: 3px;
    width: 33px;
    height: 32px;

    @media (min-width: $tablet-width) {
      bottom: 64px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 22px, 700);
    margin-bottom: 110px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 350px;
  }
}
