.about__wrapper {
  @include wrapper;
  margin-top: 74px;
}

.about__title {
  @include font(25px, 30px, 700);
  padding: 0;
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px, 700);
    margin-top: 67px;
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px, 700);
    margin-top: 68px;
    margin-right: 175px;
    margin-bottom: 95px;
    margin-left: 175px;
  }
}

.about__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 350px;
    margin-top: 68px;
    margin-right: 175px;
    margin-bottom: 95px;
    margin-left: 175px;
  }
}

.about__item {
  position: relative;
  margin-bottom: 83px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 70px;
    }

    &:nth-child(3n) {
      margin-bottom: 62px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 350px;
  }
}

.about__text {
  @include font(17px, 20px, 700);

  @media (min-width: $tablet-width) {
    @include font(20px, 22px, 700);
  }
}

.about__icon {
  &--flower {
    position: absolute;
    bottom: 56px;
    left: 7px;
    width: 32px;
    height: 37px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 83px;
    }
  }

  &--money {
    position: absolute;
    bottom: 66px;
    left: 0;
    width: 47px;
    height: 27px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 91px;
    }
  }

  &--heart {
    position: absolute;
    bottom: 61px;
    left: 7px;
    width: 34px;
    height: 27px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 83px;
    }
  }

  &--ball {
    position: absolute;
    bottom: 57px;
    left: 4px;
    width: 35px;
    height: 34px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 83px;
    }
  }

  &--rocket {
    position: absolute;
    bottom: 66px;
    left: -6px;
    width: 55px;
    height: 23px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 91px;
    }
  }

  &--gift {
    position: absolute;
    bottom: 60px;
    left: 3px;
    width: 33px;
    height: 32px;
    fill: $green-left;

    @media (min-width: $tablet-width) {
      bottom: 83px;
    }
  }
}
