.application-radio {
  margin-bottom: 18px;
}

.application-radio__input {
  & + label::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    width: 42px;
    height: 42px;
    border-width: 2px;
    border-style: solid;
    border-color: $gray;
    border-radius: 50%;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-color: $background-green-color;
    border-radius: 50%;
  }
}

.application-radio__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  padding-left: 60px;
}
