.application {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(
      $white 34.5%,
      $grayscale 34.5%,
      $grayscale 52%,
      $white 52%,
      $white 69.5%,
      $grayscale 69.5%,
      $grayscale 83%,
      $white 83%
    );
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(
      $white 39%,
      $grayscale 39%,
      $grayscale 52%,
      $white 52%,
      $white 70%,
      $grayscale 70%,
      $grayscale 83%,
      $white 83%
    );
  }
}

.application__wrapper {
  @include wrapper;
}

.application__text {
  @include font(13px, 24px, 400);
  margin-top: 17px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
    margin-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 105px;
  }
}
