.application-form {
  display: flex;
  flex-direction: column;
}

.application-form__item {
  border: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $background-green-color;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  @media (min-width: $tablet-width) {
    border: none;
  }
}

.application-form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.application-form__legend {
  @include font(17px, 16px, 700);
  text-transform: uppercase;
  color: $green-left;
  padding-right: 18px;
  margin-left: 0;
  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.application-form__list {
  @include reset-list;
}

.application-form__list--wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.application-form__option {
  @include font(17px, 24px, 700);
  & label {
    padding-right: 25px;
  }
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.application-form__textarea {
  width: 100%;
  padding: 17px;
  border-width: 2px;
  border-style: solid;
  border-color: $black;
  margin-top: 22px;
  &::placeholder {
    @include font(17px, 18px, 400);
    @media (min-width: $desktop-width) {
      color: $gray;
    }
  }
}

.application-form__annotation {
  @include font(14px, 16px, 400);
  color: $gray;
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.application__button {
  @include button();
  width: 100%;
  margin-top: 30px;
  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
