.checkbox__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

.checkbox__input {
  & + label::before {
    content: "";
    position: absolute;
    left: 1px;
    top: -2px;
    width: 38px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: $gray;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
      left: 0;
      top: -6px;
    }
  }

  & + label:hover::before {
    border-color: $background-green-color;
  }

  & + label:active::before {
    border-color: $black3;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 38px;
    height: 39px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 31px 17px;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      background-size: 40px 22px;
      left: 6px;
      top: 10px;
    }
  }
}

.checkbox__legend {
  @include font(17px, 16px, 700);
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: $green-left;
  margin-top: 0;
  margin-left: 0;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 200px;
    height: 1px;
    background-color: $background-green-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.checkbox__list {
  @include reset-list;
  margin-top: 27px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 24px;

    & li:nth-child(2n + 1) {
      margin-right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    & li:nth-child(n) {
      margin-right: 32px;
    }
  }
}

.checkbox__option {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 39px;
  }
}

.checkbox__label {
  @include font(17px, 18px, 700);
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    @include font(19px, 18px, 700);
    padding-left: 80px;
  }
}
