.client-contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.client-contacts__legend {
  @include font(17px, 16px, 700);
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: $green-left;
  margin-left: 0;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    height: 1px;
    background-color: $background-green-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--phone::after {
    width: 200px;
  }

  &--mail::after {
    width: 182px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
  }
}

.client-contacts__input {
  @include font(17px, 18px, 400);
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $black;
  padding-top: 22px;
  padding-bottom: 15px;
  margin-bottom: 34px;
  outline: none;

  &:hover {
    border-bottom-color: $background-green-color;
  }

  @media (min-width: $tablet-width) {
    @include font(19px, 18px, 400);
    margin-bottom: 0;
  }

  &::placeholder {
    @include font(17px, 18px, 400);

    @media (min-width: $tablet-width) {
      @include font(19px, 18px, 400);
      padding-left: 15px;
    }
  }

  &--mail {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-top: 14px;
    }
  }
}

.client-contacts__input-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.client-contacts__icon {
  position: absolute;
  fill: $gray2;

  &--phone {
    width: 25px;
    height: 24px;
    right: 6px;
    top: 17px;

    @media (min-width: $tablet-width) {
      right: 26px;
      top: 26px;
    }

    @media (min-width: $desktop-width) {
      right: 8px;
      top: 24px;
    }
  }

  &--mail {
    width: 32px;
    height: 32px;
    right: 3px;
    top: 16px;

    @media (min-width: $tablet-width) {
      right: 21px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      right: 4px;
      top: 14px;
    }
  }
}

.client-contacts__input:hover + .client-contacts__icon {
  fill: $background-green-color;
}
