.contacts__wrapper {
  @include wrapper;
  margin-top: 89px;
  margin-bottom: 5px;
}

.contacts__address {
  display: table;
  border-collapse: collapse;
}

.contacts__title {
  @include font(18px, 30px, 700);
  margin-bottom: 27px;
}

.contacts__row {
  @include reset-list;
  display: table-row;

  & li:first-child {
    width: 76px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__cell {
  display: table-cell;
  @include font(15px, 30px, 400);
  color: $gray;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 5fr;
  }
}

.contacts__button {
  @include button;
  @include font(18px, 20px, 700);
  padding-top: 13px;
  padding-bottom: 15px;
  margin-top: 33px;
  margin-right: 30px;
  margin-bottom: 38px;
  margin-left: 30px;
}
