.contacts {
  @media (min-width: $desktop-width) {
    margin-bottom: 103px;
  }
}

.contacts__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    @include wrapper;
    display: grid;
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: min-content min-content;
  }

  & picture {
    @media (min-width: $desktop-width) {
      grid-column: 4 / 7;
      grid-row: 1 / -1;
      height: 100%;
    }
  }
}

.contacts__wrapper-address {
  @include wrapper;
  position: relative;
  margin-top: 89px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 175px);
    margin-top: 0;
  }
}

.contacts__title {
  @include font(18px, 30px, 700);
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px, 700);
    margin-top: 33px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px, 700);
    grid-column: 2 / 4;
    margin-top: 82px;
  }
}

.contacts__title-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    justify-self: end;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    justify-self: start;
    margin-top: 64px;
    margin-left: 63px;
  }
}

.contacts__address {
  display: table;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: table;
    grid-column: 2 / 4;
    padding-right: 20px;
  }
}

.contacts__row {
  @include reset-list;
  display: table-row;

  & li:first-child {
    width: 76px;
    margin-bottom: 5px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 79px 254px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 78px 250px;
  }
}

.contacts__cell {
  @include font(15px, 30px, 400);
  display: table-cell;
  color: $gray;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font(17px, 30px, 400);
    grid-template-columns: 1fr 5fr;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.contacts__link {
  color: $gray;
  border-bottom: 1px solid $background-green-color;

  &:hover {
    color: $green-right-hover;
    border-bottom: 1px solid $green-right-hover;
  }

  &:active {
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 1px $green-hover;
  }
}

.contacts__map {
  display: block;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
  }
}

.contacts__map-icon {
  position: absolute;
  width: 67px;
  height: 100px;
  bottom: -247px;
  left: 108px;

  @media (min-width: $tablet-width) {
    bottom: -244px;
    left: 313px;
  }

  @media (min-width: $desktop-width) {
    bottom: 102px;
    left: 763px;
  }
}

.contacts__button {
  @include button;
  @include font(18px, 20px, 700);
  max-width: 260px;
  padding-top: 13px;
  padding-bottom: 15px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    max-width: 230px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 2 / -1;
    margin: 0;
    margin-top: 52px;
  }
}
