.copyright {
  display: flex;
  justify-content: space-between;
  width: 222px;

  @media (min-width: $tablet-width) {
    width: 33%;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.copyright__text {
  @include font(19px, 18px, 700);
  text-align: left;
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.copyright__link {
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.copyright__link-icon {
  width: 27px;
  height: 34px;

  &:hover {
    fill: $green-right-hover;
  }
  &:active {
    opacity: 0.3;
  }
}
