.page-title {
  @include font (27px, 30px, 700);
  background: $grayscale;
  text-align: center;
  height: 177px;
  margin: 0;
  padding-top: 73px;

  @media (min-width: $tablet-width) {
    @include font (43px, 50px, 700);
    position: relative;
    padding-top: 100px;
    padding-bottom: 136px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px;
      background-repeat: repeat-x;
      bottom: -11px;
      left: 0;
      width: 1540px;
      height: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    @include font (53px, 57px, 700);
    padding-bottom: 166px;

    &::after {
      background-size: 1150px;
      width: 2300px;
      height: 45px;
      left: -49px;
      bottom: -15px;
    }
  }
}
