.product-catalog {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.product-catalog__list {
  @include reset-list;
  @include wrapper;


  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
    margin-top: 87px;
  }
}
