.site-list {
  margin: 0 auto;
}

.site-list__item {
  @include font (17px, 24px, 700);
  padding-top: 29px;
  padding-bottom: 27px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $light-gray;
}
