.wishes {
  margin-top: 23px;
}

.wishes__legend {
  @include font(17px, 16px, 700);
  text-transform: uppercase;
  color: $green-left;
  padding-right: 15px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }
}

.wishes__textarea {
  width: 100%;
  height: 143px;
  padding: 17px;
  resize: none;
  border-width: 2px;
  border-style: solid;
  border-color: $black;
  margin-top: 22px;
  margin-bottom: 13px;

  &::placeholder {
    @include font(17px, 18px, 400);

    @media (min-width: $tablet-width) {
      @include font(19px, 18px, 400);
    }
  }
  
  @media (min-width: $desktop-width) {
    width: 80%;
  }
}
