// basic-colors

$black: #000000;
$black1: #e6e6e6;
$black2: #bfbfbf;
$black3: #b3b3b3;
$gray: #444444;
$gray7: #7c7c7c;
$gray2: #cccccc;
$light-gray: #ececec;
$silver: #e5e5e5;
$grayscale: #f1f1f1;
$white: #ffffff;

// special-colors

$green-right-hover: #46c1ae;
$green-left-hover: #59d5bc;
$green-hover: #edf9f7;
$background-green-color: #62d1ba;
$green-right: #56c3b2;
$green-left: #63d1bb;

// viewports

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1050px;
