// basic
$black: #000000;
$gray: #444444;
$gray7: #7c7c7c;
$light-gray: #ECECEC;
$grayscale: #F1F1F1;
$white: #FFFFFF;

// special
$green-right-hover: #46C1AE;
$green-left-hover: #59D5BC;
$background-green-color: #62D1BA;
$green-right: #56C3B2;
$green-left: #63D1BB;
